# Obsticle
.android/
.ansible/
.ansible_galaxy
.authorized_keys
.backups/
.bash_history
.bash_logout
.btpd/
.cache
.cargo
.ccache
.dbus/
.docker/
.eclipse/
.elinks/
.esd_auth
.fasd
.fehbg
.fetchmailrc
.fltk
.fonts/
.gdrive
.ghc
.gimp-2.8/
.gnupg
.haskeline
.history
.ICEauthority
.iourc
.java/
.jupyter/
.keep/
.keras
.lesshst
.links/
.local/share/sip/
.m2/
.mozilla
.msmtp.log
.mutt/
.mutt_certificates
.muttrc
.mysql_history
.ncftp/
.ncmpcpp/
.node-gyp
.npm
.nv/
.nvidia-settings-rc
.packettracer
.paradox-launcher/
.parallel/
.passwords/
.pki
.psql_history
.python_history
.rnd
.rustup
.rusty-tags
.sam.localhost.lock
.slack-term
.slack-token
.ssh
.subversion/
.sudo_as_admin_successful
.surf
.swp
.swt/
.thumbnails/
.tmux.conf
.tooling/
.tor-browser
.tor-browser-en
.torrents/
.trash
.vgl
.viminfo
.vnc
.w3m/
.weather
.weechat/
.wget-hsts
.winbox
.wine/
.wpscan
.Xauthority
.xbindkeysrc
.xorgxrdp.10.log
.xorgxrdp.10.log.old
.yarn/
.yarnrc
.zoom/
_-WYRNBZOKp_M.mp4
blah.png
case_number
Cisco/
contacts.csv
Documents/
domainAdmin.jnlp?user=langineers
Downloads
fields
file
file2
five9
Five9/
five9_agent.webm
hector
hexes
ictdialer/
ISO/
issue
jer.conf
Lambda
LANgineers/
Mail/
main.rs
Marlos
Media
netsapiens-tools/
Notes
pam.d/
Personal
posix
Projects
pt/
record
records/
rtl8188eu/
sent
Test
test/
todo
VirtualMachines/
VMs
VoIP/
