# Obsticle
.tor-browser
.fehbg
.android/
.ansible/
.ansible_galaxy
.backups/
.slack-token
.bash_history
.btpd/
.cache
.cargo
.ccache
.elinks/
.esd_auth
.fetchmailrc
.fltk
.gdrive
.git
.gitconfig
.gnupg
.history
.iourc
.keep/
.lesshst
.links/
.mail/
.mozilla
.mutt_certificates
.muttrc
.mysql_history
.ncmpcpp/
.node-gyp
.npm
.packettracer
.paradox-launcher/
.passwords/
.pki
.psql_history
.rnd
.rustup
.rusty-tags
.sam.localhost.lock
.ssh
.subversion/
.surf
.swp
.tmux.conf
.tor-browser-en
.torrents/
.trash
.vgl
.viminfo
.vnc
.w3m/
.weather
.wget-hsts
.Xauthority
.xbindkeysrc
.yarn/
.yarnrc
Cisco/
Downloads
file
file2
hexes
Mail/
Media
Notes
pam.d/
Projects
pt/
test/
VMs

.java/
.ncftp/
.slack-term
.weechat/
.zoom/
Five9/
Marlos
VoIP/
_-WYRNBZOKp_M.mp4
blah.png
case_number
contacts.csv
domainAdmin.jnlp?user=langineers
fields
five9
five9_agent.webm
hector
issue
jer.conf
main.rs
posix
record
records/
todo
.eclipse/
.local/share/sip/
.m2/
.swt/
.tooling/
.wine/
LANgineers/
ictdialer/
netsapiens-tools/
rtl8188eu/
