# Obsticle
.android/
.ansible/
.ansible_galaxy
.backups/
.bash_history
.cache
.cargo
.ccache
.elinks/
.esd_auth
.fltk
.gdrive
.git
.torrents/
.btpd/
.gitconfig
.gnupg
.history
.iourc
.keep/
.lesshst
.links/
.mozilla
.mutt_certificates
.muttrc
.mysql_history
.ncmpcpp/
.node-gyp
.npm
.packettracer
.paradox-launcher/
.pki
.psql_history
.rnd
.rustup
.rusty-tags
.sam.localhost.lock
.ssh
.subversion/
.surf
.swp
.tmux.conf
.tor-browser-en
.trash
.vgl
.viminfo
.vnc
.w3m/
.weather
.wget-hsts
.Xauthority
.xbindkeysrc
.yarn/
.yarnrc
Cisco/
Downloads
file
file2
hexes
Media
Notes
Projects
pt/
test/
VMs
