dwm.normbordercolor: #444444
dwm.normbgcolor: #222222
dwm.normfgcolor: #bbbbbb
dwm.selbordercolor: #bd93f9
dwm.selbgcolor: #bd93f9
dwm.selfgcolor: #eeeeee

st.font: Source Code Pro:pixelsize=18:antialias=true:autohint=true
st.color0: #000000
st.color1: #ff5555
st.color2: #50fa7b
st.color3: #f1fa8c
st.color4: #bd93f9
st.color5: #ff79c6
st.color6: #8be9fd
st.color7: #bbbbbb
st.color8: #44475a
st.color9: #ff5555
st.color10: #50fa7b
st.color11: #f1fa8c
st.color12: #bd93f9
st.color13: #ff79c6
st.color14: #8be9fd
st.color15: #ffffff
st.background: #282a36
st.foreground: #f8f8f2
st.cursorColor: #ff79c6
st.termname: xterm-256color
st.shell: /bin/bash
st.xfps: 120
st.actionfps: 30
//st.blinktimeout: 
//st.bellvolume: 
//st.tabspaces: 
//st.borderpx: 
//st.cwscale: 
//st.chscale: 
