Mnemosyne/
NetacadExamPlayer/
PacketTracer7/
Paradox Interactive/
betterdiscordctl/
desktop-directories/
dolphin-emu/
gsettings-data-convert
icons/
ion/
lftp/
mime/
mnemosyne/
nvim
qtposition-geoclue2
quadrapassel/
qutebrowser/
ranger/
recently-used.xbel
synapse/
xorg/
zathura/
