lpass
Mnemosyne/
NetacadExamPlayer/
PacketTracer7/
Paradox Interactive/
betterdiscordctl/
desktop-directories/
dolphin-emu/
gsettings-data-convert
icons/
ion/
modem-manager-gui/
lftp/
leagueoflegends
mime/
mnemosyne/
nvim
qtposition-geoclue2
quadrapassel/
qutebrowser/
ranger/
recently-used.xbel
synapse/
xorg/
zathura/
vlc
webkitgtk/
app-info/
evolution/
gnome-settings-daemon/
gnome-shell/
gvfs-metadata/
icc/
jupyter/
keyrings/
lambda.png
man/
remmina/
session_migration-ubuntu
xrdp/
