alacritty
chromium
configstore/
dconf/
discord/
dolphin-emu/
enchant/
evolution/
freerdp/
GIMP/
gnome-initial-setup-done
GNS3/
gtk-2.0/
gtk-3.0/
htop/
ibus/
icedtea-web
ion/
launcher/
libreoffice/
menus/
milkytracker/
mnemosyne/
modem-manager-gui/
nautilus/
neofetch/
On branch master
Paradox Interactive/
pulse/
QtProject.conf
remmina/
Thunar/
transmission-daemon/
transmission/
user-dirs.dirs
user-dirs.locale
vitetris
xfce4/
yarn/
Your branch is up to date with 'origin/master'.
zoomus.conf
