GIMP/
GNS3/
chromium
Paradox Interactive/
modem-manager-gui/
QtProject.conf
configstore/
dconf/
transmission/
transmission-daemon/
htop/
discord/
dolphin-emu/
gtk-2.0/
ion/
enchant/
launcher/
libreoffice/
menus/
milkytracker/
mnemosyne/
ncmpcpp/
neofetch/
nvim/
pulse/
qutebrowser/
vitetris
yarn/

icedtea-web
zoomus.conf
