[Desktop Entry]
Type=Application
Name=qutebrowser
Exec=/usr/bin/qutebrowser %u
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
